.navbarSignInButton {
    text-decoration: none;
    color: black;
    float: right;
}

.GYMFIT {
    display: block;
    color: black;
    font-size: 50px;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 2px 2px 1px black;
}

.menu {
    display: inline-block;
    font-size: 20px;
    padding: 5px 30px;
}

hr {

}
